language: python
python:
  - "3.4"
  - "3.3"
  - "2.7"
  - "2.6"
install:
  - pip install -r requirements.txt --use-mirrors
  - pip install -r test-requirements.txt --use-mirrors
  - pip install coveralls
script:
  - python setup.py testr
  - python setup.py testr --coverage
after_success:
  - coveralls
