<div class="col-sm-6">
    <form action="/" method="POST" class="form-horizontal" role="form">
        {% csrf_token %} 
        <fieldset class="form-group">
            {% for e in form.project_name.errors %}
                <div class="alert alert-danger">
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
            <label class="col-sm-4 control-label" for="id_{{ form.project_name.name }}">{{ form.project_name.label }}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    name="{{ form.project_name.name }}"
                    id="id_{{ form.project_name.name }}"
                    placeholder="{{ form.project_name.label }}"
                    value="{{ form.project_name.value|default:'' }}" > 
            </div>
        </fieldset>

        <fieldset class="form-group">
            {% for e in form.mail.errors %}
                <div class="alert alert-danger">
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
            <label class="col-sm-4 control-label" for="id_{{ form.mail.name }}">{{ form.mail.label }}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    name="{{ form.mail.name }}"
                    id="id_{{ form.mail.name }}"
                    placeholder="{{ form.mail.label }}"
                    value="{{ form.mail.value|default:'' }}" > 
            </div>
        </fieldset>

        <fieldset class="form-group">
            {% for e in form.ssh_key.errors %}
                <div class="alert alert-danger">
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
            <label class="col-sm-4 control-label" for="id_{{ form.ssh_key.name }}">{{ form.ssh_key.label }}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                    name="{{ form.ssh_key.name }}"
                    placeholder="{{ form.ssh_key.label }}"
                    id="id_{{ form.ssh_key.name }}"
                    value="{{ form.ssh_key.value|default:'' }}" > 
            </div>
        </fieldset>

        <fieldset class="form-group">
            {% for e in form.validity.errors %}
                <div class="alert alert-danger">
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
            <label class="col-sm-4 control-label" for="id_{{ form.validity.name }}">{{ form.validity.label }}</label>
            <div class="col-sm-8">
                <input class="form-control datepicker"
                    name="{{ form.validity.name }}"
                    placeholder="{{ form.validity.label }}"
                    id="id_{{ form.validity.name }}"
                    value="{{ form.validity.initial }}" >
            </div>
        </fieldset>

        <fieldset class="form-group">
            {% for e in form.description.errors %}
                <div class="alert alert-danger">
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
            <label class="col-sm-4 control-label" for="id_{{ form.description.name }}">{{ form.description.label }}</label>
            <div class="col-sm-8">
                <textarea class="form-control"
                    name="{{ form.description.name }}"
                    placeholder="{{ form.description.label }}"
                    id="id_{{ form.description.name }}"
                    value="{{ form.description.value|default:'' }}" ></textarea> 
            </div>
        </fieldset>

        <fieldset class="form-group">
            {% for e in form.flavor.errors %}
                <div class="alert alert-danger">
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
            <label class="col-sm-4 control-label" for="id_{{ form.flavor.name }}">{{ form.flavor.label }}</label>
            <div id="div_flavor" 
                class="col-sm-8" 
                data-toggle="popover"
                data-content="&lt;div&gt;This is your div content&lt;/div&gt;"
                data-placement="bottom">
                {{ form.flavor }}
            </div>
        </fieldset>

        <fieldset class="form-group">
            {% for e in form.heat_template.errors %}
                <div class="alert alert-danger">
                    <span>{{ e }}</span>
                </div>
            {% endfor %}
            <label class="col-sm-4 control-label" for="id_{{ form.heat_template.name }}">{{ form.heat_template.label }}</label>
            <div class="col-sm-8">
                {{ form.heat_template }}
            </div>
        </fieldset>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit"  class="btn btn-primary">
            </div>
        </div>
    </form>    
</div>

<div class="col-sm-6">
    <div class="row-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ form.flavor.label }}</h3>
            </div>
            <div id="panel_flavor_content" class="panel-body">
                <table id="flavor_table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Ram</th>
                            <th>Disk</th>
                            <th>Vcpus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="flavor_name"></td>
                            <td id="flavor_ram"></td>
                            <td id="flavor_disk"></td>
                            <td id="flavor_vcpus"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ form.heat_template.label }}</h3>
            </div>
            <div id="panel_heat_template_content" class="panel-body">
                <table id="heat_template_table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="heat_template_name"></td>
                            <td id="heat_template_description"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var selectFlavor = $('select#id_flavor[name=flavor]');
    var selectHeatTemplate = $('select#id_heat_template[name=heat_template]');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var csrftoken = getCookie('csrftoken');

    var getFlavor = function(id){
        $.ajax({
            type: "POST",
            url: '/flavor/'+ id + '/',
            success: function(data) {
                setFlavor(data);
            }
        });
    }

    var getHeatTemplate = function(id){
        $.ajax({
            type: "POST",
            url: '/heat_template/'+ id + '/',
            success: function(data){
                setHeatTemplate(data);
            }
        });
    }

    var setFlavor = function(flavor){
        $('table#flavor_table > tbody > tr > td#flavor_name').empty().html(flavor.name);
        $('table#flavor_table > tbody > tr > td#flavor_ram').empty().html(flavor.ram);
        $('table#flavor_table > tbody > tr > td#flavor_disk').empty().html(flavor.disk);
        $('table#flavor_table > tbody > tr > td#flavor_vcpus').empty().html(flavor.vcpus);
    }

    var setHeatTemplate = function(heatTemplate){
        $('table#heat_template_table > tbody > tr > td#heat_template_name').empty().html(selectHeatTemplate.val());
        $('table#heat_template_table > tbody > tr > td#heat_template_description').empty().html(heatTemplate.description);
    }

    $(document).ready(function(){

        getFlavor(selectFlavor.val());
        getHeatTemplate(selectHeatTemplate.val());
        
        selectFlavor.change(function(){
            getFlavor($(this).val());
        });

        selectHeatTemplate.change(function(){
            getHeatTemplate($(this).val());
        });
    });
</script>
